body {
    font-family: Georgia, Times, "Times New Roman", serif;
    color:#333;
}

a {
    color: #0A9ACC;
}

a:hover, a:visited:hover {
    color: #07607F;
}

a:visited {
    color: #0CC0FF;
}

#container {
    width:100%;
}

header {
    float: left;
    width: 17em;
    min-height: 100%;
    position: fixed;
    background: #333;
    color: #aaa;
}

    header .profile {
        text-align: center;
        width: 100%;
        padding-top: 1.5em;
    }

    header .profile img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    header a, header a:visited {
        text-decoration: none;
    }

    header a:hover, header a:visited:hover {
        color: #80DEFF;
        text-decoration: none;
    }

    header hgroup {
        margin: 1.5em;
        font-family: "Open sans", sans-serif;
        line-height: 1.1em;
    }

        header hgroup h1 {
            font-weight: 600;
            font-size: 3em;
            margin: 0 0;
        }
            header hgroup h1 a, header hgroup h1 a:visited {
                color: #eee;
            }

        header hgroup h2 {
            font-weight: normal;
            font-size: 2em;
            margin-top: 0.5em;
        }

            header hgroup h2 a, header hgroup h2 a:visited {
                color: #aaa;
            }

        header hgroup h3 {
            font-weight: normal;
            font-size: 1em;
            margin-top: 0.5em;
            font-style: italic;
            color: #aaa;
            line-height: 1.2em;
        }

    header nav {
        margin: 3em 1.5em 0 1.5em;
    }

        header nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        header nav ul li {
            line-height: 1.8em;
        }

        header nav a, header nav a:visited {
            color: #fff;
            font-family: "Open sans", sans-serif;
            text-decoration: none;
            font-size: 1.4em;
            font-weight: 300;
        }

    header ul.social {
        text-align: center;
        padding:2em 0 2em 0;
    }

        header ul.social li:not(:first-child):before {
            content: '\2219';
            padding: 0 0.6em 0 0.4em;
            color: #aaa;
        }

        header ul.social li {
            display: inline-block;
            font-size: 1.5em;
        }

        header ul.social li a {
            opacity: 0.7;
        }

        header ul.social li a:hover {
            opacity: 1;
        }

            header ul.social li a.rss {
                color: #f88624;
            }

            header ul.social li a.twitter {
                color: #54ACEE;
            }

            header ul.social li a.github {
                color: #eee;
            }

footer {
    border-top: 1px solid #aaa;
    padding-top: 0.5em;
    font-size: 0.8em;
    text-align: center;
}

    footer p {
        margin: 0.5em 0;
    }

#center-wrapper {
    margin-left: 17em;
}

    #center-wrapper #center {
        max-width: 50em;
        margin-left: auto;
        margin-right: auto;
        padding: 1em 1.5em;
    }

    #center-wrapper #center #content {
        padding: 3em 0;
    }

.comments h1 {
    font-family: "Open sans", sans-serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 1.1em;
    margin-top:2em;
    margin-bottom:0;
}

h1 {
    font-family: "Open sans", sans-serif;
    font-weight: 800;
    font-size: 4em;
    line-height: 1.1em;
    margin-top:0;
    margin-bottom:0;
}

h1 a, h1 a:visited {
    text-decoration: none;
    color:#333;
}

h2, h3, h4, h5, h6 {
    font-family: "Open sans", sans-serif;
    color: #444;
    line-height: 1.1em;
}

h2 { font-size: 2em; }
h3 { font-size: 1.7em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

article .article-content, .page-content {
    line-height: 1.4em;
    font-size: 1.3em;
}

    article * {
        max-width: 100%;
    }

    article blockquote {
        border-left: 3px solid #aaa;
        margin-left: 0;
        padding-left: 1em;
        opacity: 0.7;
    }

    article code:not([data-lang]) {
        background: #333;
        color: #F8F8F2;
        padding: 0 0.2em;
    }

    article div.highlight code {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        background: #333;
        color: #F8F8F2;
    }

    article pre {
        background: #333;
    }

    article pre code {
        line-height: 1.1em;
    }

.archives h3 {
    margin: 0.5em 0;
}

.archives .meta {
    margin: 0;
}

.archives h3 a, .archives h3 a:visited {
    text-decoration: none;
    color: #444;
}

.archives h3 a:hover {
    text-decoration: underline;
    color: #07607F;
}

ul.meta {
    color: #777;
    margin: 2em 0;
    list-style-type: none;
    padding: 0;
}

    ul.meta li:not(:first-child) {
        margin-top: 0.5em;
    }

    ul.meta .fa {
        margin-right: 0.5em;
    }

    ul.meta a, ul.meta a:visited, ul.meta a:hover {
        text-decoration: none;
        color: #777;
    }

ul.languages {
    font-size: 1.5em;
    padding: 0;
}

    ul.languages li {
        display: inline-block;
    }

    ul.languages li:not(:first-child):before {
        content: '\2219';
        padding: 0 1.2em 0 1em;
    }

.index article:not(:last-child) {
    padding-bottom: 3em; 
}

.index article:not(:first-child) {
    border-top: 1px solid #aaa;
    padding-top: 3em;
}

@media screen and (max-width: 70em) { 
    #center-wrapper #center #content {
        padding: 0em;
    }
}

@media screen and (max-width: 60em) { 
    header {
        width: 100%;
        float: none;
        position: static;
        min-height: auto;
    }

        header hgroup {
            text-align: center;
        }

        header nav {
            text-align: center;
        }

            header nav li {
                display: inline-block;
            }

            header nav li:not(:first-child):before {
                content: '\2219';
                padding: 0 1.2em 0 1em;
            }

        header ul.social {
            padding:0em 0 2em 0;
        }

    #center-wrapper {
        margin-left: 0;
    }

    #center-wrapper #center {
        margin-left: 0;
        margin-right: 0;
        max-width: auto;
    }

    h1 {
        font-size: 2.5em;
    }
}
