{% capture date %}{{ post.date }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  {% unless forloop.first %}
    </ul>
  {% endunless %}
  <h2 class="year">{{ date | date: "%Y" }}</h2>
  <ul>
{% endunless %}
  <li>
    <h3><a href="{{ post.url }}">{{post.title | xml_escape}}</a></h3>

    <ul class="meta">
      <li><i class="fa fa-calendar"></i><time datetime="{{ date | datetime | date_to_xmlschema }}" itemprop="datePublished">{{ date | date: "%b %e" }}</time></li>
      <li><i class="fa fa-tags"></i>{{ post.tags | join: ', ' }}</li>
{% if post.draft != true %}
      <li><i class="fa fa-comments"></i><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{% if page.disqus_identifier %}{{ page.disqus_identifier}}{% else %}{{ post.url }}{% endif %}">0 comments</a></li>
{% endif %}
    </ul>
  </li>
