<h1 itemprop="name">
  <a href="{{ include.article.url }}" itemprop="url">
    {{ include.article.title | xml_escape }}
  </a>
</h1>

<ul class="meta">
  {% if include.article.date %}
  <li>{{ include.article.date | date_to_string }}</li>
  {% endif %}
  {% if include.article.tags %}
  <li>{{ include.article.tags | array_to_sentence_string }}</li>
  {% endif %}
  <li>{{ include.article.content | number_of_words }} words</li>
</ul>

<div class="article-content" itemprop="articleBody" >
  {{ include.article.content }}
</div>
