{% assign postsByYear = include.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<h2>{{ year.name }}</h2>
<style>
  ul.blog-list {
    padding: 0;
    list-style-type: none;
  }
  ul.blog-list > li > a {
    margin: 0 0 0 0;
    display: block;
    margin-left: 3em;
  }
  ul.blog-list > li > time {
    color: #555;
    width: 3em;
    float: left;
  }
  ul.blog-list > li > sup {
    font-family: monospace;
    font-weight: normal;
    color: #555;
    margin-left: 4.5em;
    display: block;
  }
</style>
<ul class="blog-list">
  {% for post in year.items %}
  <li>
    <time>{{ post.date | date: "%m/%d" }}</time>
    <a href="{{ post.url }}">{{post.title | xml_escape}}</a>
    <sup>{{ post.tags | array_to_sentence_string }}</sup>
  </li>
  {% endfor %}
</ul>
{% endfor %}
