html {
    height: 100%;
    background-color: #202020;
}

body {
    color: #E8E8E8;
    font-family: "nunito", "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    background-color: #2A2A2A;
}

.header {
    background-color: #202020;
}

.header #outcoldman {
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    padding: 2px;
    -webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
    drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
}

.header .logo-container a, .header .logo-container #logo-header {
    text-align: center;
    display: block;
    text-decoration: none;
    color: inherit;
}

.header .logo-container a h1 {
    margin: 0;
}

.header nav ul {
    margin: 0 auto;
    display: block;
    list-style: none;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
    height: 30px;
}

.header nav ul > li {
    display: inline-block;
    height: 30px;
    padding: 0;
}

.header nav ul {
    padding-left: 0;
}

.header nav ul > li {
    padding-left: 20px;
}

.header nav ul > li:first-child {
    padding-left: 0;
}

.header nav ul > li a {
    color: inherit;
    text-decoration: none;
}

.header nav ul > li img {
    margin-bottom: -5px;
}

.header nav  #github, .header nav  #instagram  {
    border-radius: 10px;
    padding: 0;
}

.footer  {
    padding: 24px 0 !important;
    background-color: #202020;
    font-size: 12px;
    text-align: center;
}

.footer p {
    padding: 0;
    margin: 0;
}

a, a:visited, a:hover {
    color: #299BFF;
    text-decoration: none;
}

.main-container {
    min-height: 300px;
}

.container {
    clear: both;
    padding: 12px 138px;
}

.content-max-width {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

article {
    padding: 32px 0 64px 0;
}

article > blockquote {
    border-left: 0.2em #E8E8E822 solid;
    padding-left: 10px;
    margin: 0;
}

article ul {
    padding-left: 25px;
}

article * {
    max-width: 100%;
}

article h1, article h2, article h3, article h4, article h5, a article h6 {
    text-align: center;
    -webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
    drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
}

article img {
    max-width: calc(100% - 20px);
    display: block;
    background: #272822;
    border-radius: 10px;
    border: #E8E8E811 1px solid;
    padding: 10px;
    margin: 0 auto;
    -webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
    drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
}

article #TableOfContents {
    border-bottom: #E8E8E811 1px solid;;
}

article sup.post-sup {
    display: block;
    padding: 6px 0 24px 0;
}

article ul.flat {
    display: inline-block;
    list-style: none;
    overflow: hidden;
    padding: 0;
}

article ul.flat > li {
    display: inline-block;
}

article ul.tags {
    font-family: "Ubuntu Mono", monospace;
}

article ul.tags li:not(:last-child)::after {
    content: ',';
}

article ul.page-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

article ul.page-list h2 {
    margin: 0;
    padding: 24px 0 0 0;
}

article ul.page-list a {
    color: inherit;
}

article sup.post-sup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

article sup.post-sup ul li {
    text-align: center;
}

article .list-content ul {
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

article .list-content li {
    display: inline-block;
}

article .list-content li:not(:last-child) {
    padding-right: 24px;
}

code {
    font-family: "Ubuntu Mono", monospace;
    font-size: 16px;
}


@media screen and (max-width: 30em) {

}
@media screen and (max-width: 20em) {

}

code.highlight {
    word-wrap: break-word;
}

div.highlight {
    max-width: calc(100% - 20px);
    padding: 0 10px 0 10px;
    background: #272822;
    border-radius: 10px;
    border: #E8E8E811 1px solid;
    -webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
    drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
}

div.highlight code {
    display: block;
    overflow-x: auto;
    padding: 10px 0;
}

/* Default.css from https://github.com/richleland/pygments-css */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #202020; }
.highlight .c { color: #408080; font-style: italic }
.highlight .err { border: 1px solid #FF0000 }
.highlight .k { color: #008000; font-weight: bold }
.highlight .o { color: #666666 }
.highlight .ch { color: #408080; font-style: italic }
.highlight .cm { color: #408080; font-style: italic }
.highlight .cp { color: #BC7A00 }
.highlight .cpf { color: #408080; font-style: italic }
.highlight .c1 { color: #408080; font-style: italic }
.highlight .cs { color: #408080; font-style: italic }
.highlight .gd { color: #A00000 }
.highlight .ge { font-style: italic }
.highlight .gr { color: #FF0000 }
.highlight .gh { color: #000080; font-weight: bold }
.highlight .gi { color: #00A000 }
.highlight .go { color: #888888 }
.highlight .gp { color: #000080; font-weight: bold }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #800080; font-weight: bold }
.highlight .gt { color: #0044DD }
.highlight .kc { color: #008000; font-weight: bold }
.highlight .kd { color: #008000; font-weight: bold }
.highlight .kn { color: #008000; font-weight: bold }
.highlight .kp { color: #008000 }
.highlight .kr { color: #008000; font-weight: bold }
.highlight .kt { color: #B00040 }
.highlight .m { color: #666666 }
.highlight .s { color: #BA2121 }
.highlight .na { color: #7D9029 }
.highlight .nb { color: #008000 }
.highlight .nc { color: #0000FF; font-weight: bold }
.highlight .no { color: #880000 }
.highlight .nd { color: #AA22FF }
.highlight .ni { color: #999999; font-weight: bold }
.highlight .ne { color: #D2413A; font-weight: bold }
.highlight .nf { color: #0000FF }
.highlight .nl { color: #A0A000 }
.highlight .nn { color: #0000FF; font-weight: bold }
.highlight .nt { color: #008000; font-weight: bold }
.highlight .nv { color: #19177C }
.highlight .ow { color: #AA22FF; font-weight: bold }
.highlight .w { color: #bbbbbb }
.highlight .mb { color: #666666 }
.highlight .mf { color: #666666 }
.highlight .mh { color: #666666 }
.highlight .mi { color: #666666 }
.highlight .mo { color: #666666 }
.highlight .sa { color: #BA2121 }
.highlight .sb { color: #BA2121 }
.highlight .sc { color: #BA2121 }
.highlight .dl { color: #BA2121 }
.highlight .sd { color: #BA2121; font-style: italic }
.highlight .s2 { color: #BA2121 }
.highlight .se { color: #BB6622; font-weight: bold }
.highlight .sh { color: #BA2121 }
.highlight .si { color: #BB6688; font-weight: bold }
.highlight .sx { color: #008000 }
.highlight .sr { color: #BB6688 }
.highlight .s1 { color: #BA2121 }
.highlight .ss { color: #19177C }
.highlight .bp { color: #008000 }
.highlight .fm { color: #0000FF }
.highlight .vc { color: #19177C }
.highlight .vg { color: #19177C }
.highlight .vi { color: #19177C }
.highlight .vm { color: #19177C }
.highlight .il { color: #666666 }


@media screen and (max-width: 800px) {
    .container {
        clear: both;
        padding: 12px;
    }

    .header nav ul > li {
        padding-left: 10px;
    }

}