<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/highlight.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/highlight.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <header>
            <div class="content-wrapper default-padding">
                
                <div class="float-right">
                    <section class="langbar clear-fix">
                        {% if post.categories contains 'ru' %}
                        <a href="/en">In English</a>
                        {% endif %}
                        {% if post.categories contains 'en' %}
                        <a href="/ru">In Russian</a>
                        {% endif %}
                    </section>
                    
                    <div class="subscription">
                        <ul>
                            <li>
                                <a href="http://feeds.feedburner.com/Outcoldman_en">
                                    <img alt="rss" src="/images/rss64.png" />
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/outcoldman">
                                    <img alt="twitter" src="/images/twitter64.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="float-left">
                    
                    <hgroup class="site-title float-left clear-fix">
                        <h2>
                            <a href="/">Denis Gladkikh</a>
                        </h2>
                        <h1>
                            <a href="/">outcoldman</a>
                        </h1>
                    </hgroup>


                    <nav class='mainMenu clear-fix-b'>
                        <ul>
                            <li><a href="/">Blog</a></li>
                            <li><a href="/">About Me/CV</a></li>
                        </ul>
                    </nav>

                </div>
                
            </div>
        </header>

        <div id="body">
            <div class="content-wrapper clear-fix default-padding text-content default-vertical-padding">
                {{ content }}
            </div>
        </div>

        <footer>
            <div class="content-wrapper default-padding">
                <div class="float-left">
                    The content on this site represents my own personal opinions and thoughts at the time of posting.
                </div>
                <div class="float-right">
                    Denis Gladkikh (outcoldman) &copy; 
                </div>
            </div>
        </footer>

    </body>
</html>
