<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="{{ site.author }}">
        <!-- Open Sans -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/font-awesome.min.css?v1">
        <link rel="stylesheet" href="/css/normalize.css?v1">
        <link rel="stylesheet" href="/css/syntax.css?v2">
        <link rel="stylesheet" href="/css/main.css?v2">
        <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{site.url}}/feed.xml" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <meta name="apple-mobile-web-app-title" content="outcoldman">
        <meta name="application-name" content="outcoldman">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        {% include google_analytics.html %}
    </head>
    <body>
        <div id="container">
            <header>
                <div class="profile">
                    <a href="/">
                        <img src="https://www.gravatar.com/avatar/50ec75bf23983807a18359d58a2f5a92.png?s=160" 
                             width="160"
                             height="160">
                     </a>
                </div>

                <hgroup>
                    <h1><a href="/">Denis Gladkikh</a></h1>
                    <h2><a href="/">outcoldman</a></h2>
                    <h3>My personal blog about software development</h3>
                </hgroup>

                <nav>
                    <ul>
                        <li><a href="/about">about</a></li>
                        <li><a href="/{% if page.categories %}{{ page.categories }}{% else %}en{% endif %}">archives</a></li>
                    </ul>
                </nav>

                <ul class="social">
                    <li><a class="twitter" href="https://twitter.com/outcoldman"><i class="fa fa-twitter"></i><i class="number">1110</i></a></li>
                    <li><a class="github" href="https://github.com/outcoldman"><i class="fa fa-github"></i><i class="number">68</i></a></li>
                    <li><a class="rss" href="{{ site.url }}/feed.xml"><i class="fa fa-rss"></i><i class="number">866</i></a></li>
                </ul>
            </header>

            <div id="center-wrapper">
                <div id="center">
                    <div id="content">
                        {{ content }}
                    </div>

                    <footer>
                        <p>
                            The content on this site represents my own personal opinions and thoughts at the time of posting.
                        </p>
                        <p>
                            Copyright &copy; 2016 Denis Gladkikh (outcoldman) Blog content licensed under the Creative Commons <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
                        </p>
                        <p>
                            Blog theme licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </body>

    {% include disqus.html %}
</html>
