---
layout: default
comments: true
---

{% assign post_date = page.date %}
{% assign post_tags = page.tags %}
{% assign post_title = page.title %}
{% assign post_url = page.url %}
{% assign post_path = page.path %}
<article itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>

{% if site.disqus_short_name and page.comments == true %}
<section class="comments">
    <h1>Comments</h1>
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</section>
{% endif %}