---
layout: default
---

{% assign post_date = page.date %}
{% assign post_tags = page.tags %}
{% assign post_title = page.title %}
{% assign post_url = page.url %}
{% assign post_path = page.path %}
<article itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>

<blockquote>
    Have a question? Want to follow up? Send a comment? Or just ask for help?
    I can help and provide professional consultation about many topics, including
    kubernetes, docker, aws, splunk, elasticsearch, metrics, logging, distributed
    systems, databases, performance tunning.
    Send me an email at public[at]denis[dot]gladkikh[one more dot]email.
</blockquote>
